body{
	
	background-color: rgb(200,200,200);
	margin:0;
	overflow:hidden;
}
.container{
	
	position: relative;
}
.FullScreenButton{
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	width: 10%;
	height: 3%;
	margin: 1%;
	right:0;
	color: rgba(255,255,255, 0.5);
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius: 2px;
	background: rgba(0,0,0,0.1);
	text-align: center;
	font-family: Arial;
	font-size: 1.2vw;
	line-height: 1.3;
	cursor: pointer;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: background 1s;
}

.FullScreenButton:hover{

	color: rgba(255,255,255, 0.7);
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255, 0.7);
	
}
.content{
	width: 70%;
	margin: 10px auto;

}
.content-container{
	
	position: absolute;
	width: 90%;
	height: 70%;
	color: #fff;
	top: 15%;
	left: 5%;	FF3.6-15
	background: -webkit-gradient(linear, 0 0, 100% 0,
				from(rgba(0,0,0,0)),
				color-stop(0.05, rgba(0,0,0,.1)),
				color-stop(0.1, rgba(0,0,0,.2)),
				color-stop(0.15, rgba(0,0,0,.3)),
				color-stop(0.2, rgba(0,0,0,.4)), 
				color-stop(0.25, rgba(0,0,0,.5)),
				color-stop(0.3, rgba(0,0,0,.6)),
				color-stop(0.35, rgba(0,0,0,.7)),
				color-stop(0.4, rgba(0,0,0,.8)), 
				color-stop(0.45, rgba(0,0,0,.9)),
				color-stop(0.5, rgba(0,0,0,1)), 
				color-stop(0.55, rgba(0,0,0,.9)),
				color-stop(0.6, rgba(0,0,0,.8)),
				color-stop(0.65, rgba(0,0,0,.7)),
				color-stop(0.7, rgba(0,0,0,.6)), 
				color-stop(0.75, rgba(0,0,0,.5)),
				color-stop(0.8, rgba(0,0,0,.4)), 
				color-stop(0.85, rgba(0,0,0,.3)),
				color-stop(0.9, rgba(0,0,0,.2)), 
				color-stop(0.95, rgba(0,0,0,.1)),
				to(rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,
			rgba(0,0,0,.1) 5%, 
			 rgba(0,0,0,.2)10%,
			 rgba(0,0,0,.4) 15%,
			 rgba(0,0,0,.45) 20%,
			 rgba(0,0,0,.47) 25%,
			 rgba(0,0,0,.5) 30%,
			 rgba(0,0,0,.5) 35%,
			 rgba(0,0,0,.5) 40%,
			 rgba(0,0,0,.5) 45%,
			 rgba(0,0,0,.5) 50%,
			 rgba(0,0,0,.5) 55%,
			 rgba(0,0,0,.5) 60%,
			 rgba(0,0,0,.5) 65%,
			 rgba(0,0,0,.5) 70%,
			 rgba(0,0,0,.5) 75%,
			 rgba(0,0,0,.47) 80%,
			 rgba(0,0,0,.4)85%,
			 rgba(0,0,0,.2) 90%,
			 rgba(0,0,0,.1) 95%,
			 rgba(0,0,0,0) 100%);
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%,
			 rgba(0,0,0,.1) 5%, 
			 rgba(0,0,0,.2)10%,
			 rgba(0,0,0,.4) 15%,
			 rgba(0,0,0,.45) 20%,
			 rgba(0,0,0,.47) 25%,
			 rgba(0,0,0,.5) 30%,
			 rgba(0,0,0,.5) 35%,
			 rgba(0,0,0,.5) 40%,
			 rgba(0,0,0,.5) 45%,
			 rgba(0,0,0,.5) 50%,
			 rgba(0,0,0,.5) 55%,
			 rgba(0,0,0,.5) 60%,
			 rgba(0,0,0,.5) 65%,
			 rgba(0,0,0,.5) 70%,
			 rgba(0,0,0,.5) 75%,
			 rgba(0,0,0,.47) 80%,
			 rgba(0,0,0,.4)85%,
			 rgba(0,0,0,.2) 90%,
			 rgba(0,0,0,.1) 95%,
			 rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,
			 rgba(0,0,0,.1) 5%, 
			 rgba(0,0,0,.2)10%,
			 rgba(0,0,0,.4) 15%,
			 rgba(0,0,0,.45) 20%,
			 rgba(0,0,0,.47) 25%,
			 rgba(0,0,0,.5) 30%,
			 rgba(0,0,0,.5) 35%,
			 rgba(0,0,0,.5) 40%,
			 rgba(0,0,0,.5) 45%,
			 rgba(0,0,0,.5) 50%,
			 rgba(0,0,0,.5) 55%,
			 rgba(0,0,0,.5) 60%,
			 rgba(0,0,0,.5) 65%,
			 rgba(0,0,0,.5) 70%,
			 rgba(0,0,0,.5) 75%,
			 rgba(0,0,0,.47) 80%,
			 rgba(0,0,0,.4)85%,
			 rgba(0,0,0,.2) 90%,
			 rgba(0,0,0,.1) 95%,
			 rgba(0,0,0,0) 100%);
background: linear-gradient(left, rgba(0,0,0,.1) 0%,
			  rgba(0,0,0,.1) 5%, 
			 rgba(0,0,0,.2)10%,
			 rgba(0,0,0,.4) 15%,
			 rgba(0,0,0,.45) 20%,
			 rgba(0,0,0,.47) 25%,
			 rgba(0,0,0,.5) 30%,
			 rgba(0,0,0,.5) 35%,
			 rgba(0,0,0,.5) 40%,
			 rgba(0,0,0,.5) 45%,
			 rgba(0,0,0,.5) 50%,
			 rgba(0,0,0,.5) 55%,
			 rgba(0,0,0,.5) 60%,
			 rgba(0,0,0,.5) 65%,
			 rgba(0,0,0,.5) 70%,
			 rgba(0,0,0,.5) 75%,
			 rgba(0,0,0,.47) 80%,
			 rgba(0,0,0,.4)85%,
			 rgba(0,0,0,.2) 90%,
			 rgba(0,0,0,.1) 95%,
			 rgba(0,0,0,0) 100%) Chrome10-25,Safari5.1-6			 W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
/*start of pullup*/
.box-container {
	max-width: 840px;
	min-height: 335px;
	margin: 0 auto;
	clear: both;
}

.box-container h2 {
	text-align: left;
	padding: 0 1.5em;
	margin: 0;
	color: #afb3b8;
}

.box-container--large {
	min-height: 400px;
}

.box {
	width: 260px;
	height: 260px;
	margin: 10px;
	float: left;
	position: relative;
}

.box--collapser {
	-webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
	transition: transform 0.15s, opacity 0.15s;
}

.box--expander {
	width: 25%;
	min-width: 260px;
	height: 260px;
	float: none;
	margin: 0 auto;
	-webkit-transition: width 0.2s, height 0.2s;
	transition: width 0.2s, height 0.2s;
}

.box--collapser.box--close {
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.box--expander.box--sizeup {
	width: 100%;
	height: 500px;
}

.trigger {
	background: none;
	color: #F5F5F5;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 25px;
	position: absolute;
	right: 10%;
	top: 10.5%;
	outline: none;
	padding: 0;
	margin: 0;
}

.trigger .fa-compress,
.box--sizeup .trigger .fa-expand {
	display: none;
}

.box--sizeup .trigger .fa-compress {
	display: inline-block;
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: -webkit-transform 0.1s ease-in-out;
	transition: transform 0.1s ease-in-out;
}

.drag-element--alt .morph-shape {
	-webkit-transition: -webkit-transform 0.05s ease-in;
	transition: transform 0.05s ease-in;
}

.morph-shape--color-1 svg path {
	fill: #4E574B;
}

.morph-shape--color-2 svg path {
	fill: #EA5656;
}

.morph-shape--color-3 svg path {
	fill: #4E82E0;
}

.morph-shape--color-4 svg path {
	fill: #71CF84;
}
/*end of pullup*/